<md-list ng-controller="ListCtrl">
  <md-item ng-repeat="topping in toppings">
    <p> {{ topping.name }} </p>
    <md-checkbox class="md-secondary" ng-model="topping.wanted" aria-label="{{ topping.name }}">
  </md-item>
  <md-divider></md-divider>
  <md-item ng-repeat="setting in settings">
    <md-icon md-svg-icon="{{setting.icon}}" class="md-primary"></md-icon>
    <p> {{ setting.name }} </p>
    <md-switch class="md-secondary" ng-model="setting.enabled" aria-label="{{ setting.name }}">
  </md-item>
  <md-item ng-click="navigateAway()">
    <md-icon md-class="md-primary" md-svg-icon="communication:import-export"></md-icon>
    <p>Data Usage</p>
  </md-item>
  <md-divider></md-divider>
  <md-item ng-repeat="person in people">
    <img alt="" src="http://lorempixel.com/100/100/people/" class="md-avatar" />
    <p>{{ person.name }}</p>
    <md-icon md-svg-icon="communication:messenger" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"></md-icon>
  </md-item>
</md-list>
