
<div ng-controller="AppCtrl">
  <md-content>
    <md-list>
      <md-item class="md-triple-line" ng-repeat="item in todos">
        <img ng-src="{{item.face}}" class="md-avatar" alt="{{item.who}}" />
        <div class="md-item-text">
          <h3>{{ item.who }}</h3>
          <h4>{{ item.what }}</h4>
          <p>{{ item.notes }}</p>
        </div>
      </md-item>
      <md-divider></md-divider>
      <md-item class="md-double-line">
        <img ng-src="{{todos[0].face}}" class="md-avatar" alt="{{todos[0].who}}" />
        <div class="md-item-text">
          <h3>{{ todos[0].who }}</h3>
          <p>Secondary text</p>
        </div>
      </md-item>
      <md-divider></md-divider>
      <md-item class="md-triple-line">
        <img ng-src="{{todos[0].face}}" class="md-avatar" alt="{{todos[0].who}}" />
        <div class="md-item-text">
          <h3>{{ todos[0].who }}</h3>
          <p>Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.</p>
        </div>
      </md-item>
    </md-list>
  </md-content>
</div>
